# rpy2

https://rpy2.github.io/doc/latest/html/introduction.html

rpy2 provides 2 levels of interface with R: - low-level (rpy2.rinterface, and rpy2:rinterface_lib) - high-level (rpy2.robjects)

In [3]:
import pandas as pd
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri# Defining the R script and loading the instance in Python
import rpy2
print(rpy2.__version__)

3.4.4

In [4]:
import rpy2.situation
for row in rpy2.situation.iter_info():
    print(row)

rpy2 version:
3.4.4
Python version:
3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
Looking for R's HOME:
    Environment variable R_HOME: None
    InstallPath in the registry: C:\Program Files\R\R-4.0.5
    Environment variable R_USER: None
    Environment variable R_LIBS_USER: None
R version:
    In the PATH:
    Loading R library from rpy2: OK
Additional directories to load R packages from:
None
C extension compilation:
    Warning: Unable to get R compilation flags.

In [5]:
### importing the R package in the embedded R, and is exposing all R objects in that package as Python objects.

from rpy2.robjects.packages import importr
# import R's "base" package
base = importr('base')

# import R's "utils" package
utils = importr('utils')

Install additional R packages. The code can be part of Python code you distribute if you are relying on CRAN packages not distributed with R by default.

In [19]:
### Install a R package

# import rpy2's package module
import rpy2.robjects.packages as rpackages

# import R's utility package
utils = rpackages.importr('utils')

# select a mirror for R packages
utils.chooseCRANmirror(ind=1) 

# R package names
packnames = ('ggplot2', 'ECoL')

# R vector of strings
from rpy2.robjects.vectors import StrVector

# Selectively install what needs to be install.
# We are fancy, just because we can.
names_to_install = [x for x in packnames if not rpackages.isinstalled(x)]
if len(names_to_install) > 0:
    utils.install_packages(StrVector(names_to_install))

Use robjects.r to interact with R

In [3]:
pi = robjects.r['pi']
pi

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000278978FE908 / R:0x00000278978DA1A8>
[3.141593]

In [4]:
pi[0]

3.141592653589793

In [13]:
robjects.r('''
        # create a function `f`
        f <- function(r, verbose=FALSE) {
            if (verbose) {
                cat("I am calling f().\n")
            }
            2 * pi * r
        }
        # call the function `f` with argument value 3
        f(3)
        ''')

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x0000027894859D08 / R:0x000002789AEE06D0>
[18.849556]

In [17]:
r_f = robjects.r['f']
r_f(4)

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000278982C99C8 / R:0x000002789AF89960>
[25.132741]

Try ECoL

In R Studio:

    > library("ECoL")
    > complexity(iris[,1:3], iris[,5])
     overlapping.F1.mean    overlapping.F1.sd overlapping.F1v.mean   overlapping.F1v.sd  overlapping.F2.mean 
             0.346379901          0.271980407          0.038708394          0.052046615          0.023931624 
       overlapping.F2.sd  overlapping.F3.mean    overlapping.F3.sd  overlapping.F4.mean    overlapping.F4.sd 
             0.041450789          0.123333333          0.213619600          0.110000000          0.190525589 
         neighborhood.N1 neighborhood.N2.mean   neighborhood.N2.sd neighborhood.N3.mean   neighborhood.N3.sd 
             0.173333333          0.238447518          0.192953453          0.086666667          0.282288506 
    neighborhood.N4.mean   neighborhood.N4.sd neighborhood.T1.mean   neighborhood.T1.sd     neighborhood.LSC 
             0.046666667          0.211630508          0.031250000          0.061064335          0.856622222 
       linearity.L1.mean      linearity.L1.sd    linearity.L2.mean      linearity.L2.sd    linearity.L3.mean 
             0.007050287          0.012211455          0.020000000          0.034641016          0.006666667 
         linearity.L3.sd    dimensionality.T2    dimensionality.T3    dimensionality.T4           balance.C1 
             0.011547005          0.020000000          0.013333333          0.666666667          1.000000000 
              balance.C2      network.Density      network.ClsCoef    network.Hubs.mean      network.Hubs.sd 
             0.000000000          0.848769575          0.271609303          0.874332820          0.240090885

In [9]:
metrics = robjects.r('''
        library("ECoL", lib.loc = "ECoL/R/")
        complexity(iris[,1:4], iris[,5])
        ''')

In [10]:
idx = 0
for v in metrics:
    print(metrics.names[idx], ": " ,v)
    idx += 1

overlapping.F1.mean :  0.2775641932566494
overlapping.F1.sd :  0.2612622587707821
overlapping.F1v.mean :  0.026799629786085757
overlapping.F1v.sd :  0.0337704173653305
overlapping.F2.mean :  0.006381766381766379
overlapping.F2.sd :  0.011053543615254367
overlapping.F3.mean :  0.12333333333333334
overlapping.F3.sd :  0.21361959960016152
overlapping.F4.mean :  0.043333333333333335
overlapping.F4.sd :  0.07505553499465135
neighborhood.N1 :  0.10666666666666667
neighborhood.N2.mean :  0.19814444234467493
neighborhood.N2.sd :  0.1466933405777466
neighborhood.N3.mean :  0.06
neighborhood.N3.sd :  0.23828244477915883
neighborhood.N4.mean :  0.013333333333333334
neighborhood.N4.sd :  0.11508191810497581
neighborhood.T1.mean :  0.05555555555555556
neighborhood.T1.sd :  0.09094996110409614
neighborhood.LSC :  0.8164
linearity.L1.mean :  0.0043356927104076055
linearity.L1.sd :  0.007509640060431987
linearity.L2.mean :  0.013333333333333345
linearity.L2.sd :  0.023094010767585053
linearity.L3.mean :  0.006666666666666672
linearity.L3.sd :  0.011547005383792526
dimensionality.T2 :  0.02666666666666667
dimensionality.T3 :  0.013333333333333334
dimensionality.T4 :  0.5
balance.C1 :  0.9999999999999998
balance.C2 :  0.0
network.Density :  0.8332885906040268
network.ClsCoef :  0.26797701971842847
network.Hubs.mean :  0.8380508308705288
network.Hubs.sd :  0.2753319371395067

Run this R code:

    ctl <- c(4.17,5.58,5.18,6.11,4.50,4.61,5.17,4.53,5.33,5.14)
    trt <- c(4.81,4.17,4.41,3.59,5.87,3.83,6.03,4.89,4.32,4.69)
    group <- gl(2, 10, 20, labels = c("Ctl","Trt"))
    weight <- c(ctl, trt)

    anova(lm.D9 <- lm(weight ~ group))

    summary(lm.D90 <- lm(weight ~ group - 1))# omitting intercept

In [2]:
import rpy2.robjects as robjects
from rpy2.robjects import FloatVector
from rpy2.robjects.packages import importr
stats = importr('stats')
base = importr('base')

ctl = FloatVector([4.17,5.58,5.18,6.11,4.50,4.61,5.17,4.53,5.33,5.14])
trt = FloatVector([4.81,4.17,4.41,3.59,5.87,3.83,6.03,4.89,4.32,4.69])
group = base.gl(2, 10, 20, labels = ['Ctl','Trt'])
weight = ctl + trt

robjects.globalenv['weight'] = weight
robjects.globalenv['group'] = group
lm_D9 = stats.lm('weight ~ group')
print(stats.anova(lm_D9))

# omitting the intercept
lm_D90 = stats.lm('weight ~ group - 1')
print(base.summary(lm_D90))

Analysis of Variance Table



Response: weight

          Df Sum Sq Mean Sq F value Pr(>F)

group      1 0.6882 0.68821  1.4191  0.249

Residuals 18 8.7292 0.48496



Call:

(function (formula, data, subset, weights, na.action, method = "qr",

    model = TRUE, x = FALSE, y = FALSE, qr = TRUE, singular.ok = TRUE,

    contrasts = NULL, offset, ...)

{

    ret.x <- x

    ret.y <- y

    cl <- match.call()

    mf <- match.call(expand.dots = FALSE)

    m <- match(c("formula", "data", "subset", "weights", "na.action",

        "offset"), names(mf), 0L)

    mf <- mf[c(1L, m)]

    mf$drop.unused.levels <- TRUE

    mf[[1L]] <- quote(stats::model.frame)

    mf <- eval(mf, parent.frame())

    if (method == "model.frame")

        return(mf)

    else if (method != "qr")

        warning(gettextf("method = '%s' is not supported. Using 'qr'",

            method), domain = NA)

    mt <- attr(mf, "terms")

    y <- model.response(mf, "numeric")

    w <- as.vector(model.weights(mf))

    if (!is.null(w) && !is.numeric(w))

        stop("'weights' must be a numeric vector")

    offset <- model.offset(mf)

    mlm <- is.matrix(y)

    ny <- if (mlm)

        nrow(y)

    else length(y)

    if (!is.null(offset)) {

        if (!mlm)

            offset <- as.vector(offset)

        if (NROW(offset) != ny)

            stop(gettextf("number of offsets is %d, should equal %d (number of observations)",

                NROW(offset), ny), domain = NA)

    }

    if (is.empty.model(mt)) {

        x <- NULL

        z <- list(coefficients = if (mlm) matrix(NA_real_, 0,

            ncol(y)) else numeric(), residuals = y, fitted.values = 0 *

            y, weights = w, rank = 0L, df.residual = if (!is.null(w)) sum(w !=

            0) else ny)

        if (!is.null(offset)) {

            z$fitted.values <- offset

            z$residuals <- y - offset

        }

    }

    else {

        x <- model.matrix(mt, mf, contrasts)

        z <- if (is.null(w))

            lm.fit(x, y, offset = offset, singular.ok = singular.ok,

                ...)

        else lm.wfit(x, y, w, offset = offset, singular.ok = singular.ok,

            ...)

    }

    class(z) <- c(if (mlm) "mlm", "lm")

    z$na.action <- attr(mf, "na.action")

    z$offset <- offset

    z$contrasts <- attr(x, "contrasts")

    z$xlevels <- .getXlevels(mt, mf)

    z$call <- cl

    z$terms <- mt

    if (model)

        z$model <- mf

    if (ret.x)

        z$x <- x

    if (ret.y)

        z$y <- y

    if (!qr)

        z$qr <- NULL

    z

})(formula = "weight ~ group - 1")



Residuals:

    Min      1Q  Median      3Q     Max

-1.0710 -0.4938  0.0685  0.2462  1.3690



Coefficients:

         Estimate Std. Error t value Pr(>|t|)

groupCtl   5.0320     0.2202   22.85 9.55e-15 ***

groupTrt   4.6610     0.2202   21.16 3.62e-14 ***

---

Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1



Residual standard error: 0.6964 on 18 degrees of freedom

Multiple R-squared:  0.9818,	Adjusted R-squared:  0.9798

F-statistic: 485.1 on 2 and 18 DF,  p-value: < 2.2e-16

In [5]:
lm_D9.rclass

In [7]:
print(lm_D9.names)

 [1] "coefficients"  "residuals"     "effects"       "rank"

 [5] "fitted.values" "assign"        "qr"            "df.residual"

 [9] "contrasts"     "xlevels"       "call"          "terms"

[13] "model"

In [13]:
from rpy2.robjects import NA_Real
from rpy2.rlike.container import TaggedList
from rpy2.robjects.packages import importr

base = importr('base')

# create a numerical matrix of size 100x10 filled with NAs
m = base.matrix(NA_Real, nrow=100, ncol=10)

# fill the matrix
for row_i in range(1, 100+1):
    for col_i in range(1, 10+1):
        m.rx[TaggedList((row_i, ), (col_i, ))] = row_i + col_i * 100

TypeError: 'int' object is not iterable

Setup notebook

In [21]:
from functools import partial
from rpy2.ipython import html
html.html_rdataframe=partial(html.html_rdataframe, table_class="docutils")

In [23]:
from rpy2.robjects.packages import importr
utils = importr('utils')

dataf = utils.read_csv('https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/'
                       'master/notebooks/data/california_cities.csv')

In [24]:
import rpy2.ipython.html
rpy2.ipython.html.init_printing()
dataf

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x0000026426B97748 / R:0x0000026426C55ED8>
[IntVector, FactorVec..., FloatVector, FloatVector, ..., FloatVector, FloatVector, FloatVector, FloatVector]
  X: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x0000026426A99208 / R:0x0000026426D29D10>
[0, 1, 2, 3, ..., 478, 479, 480, 481]
  city: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x0000026426A98A48 / R:0x0000026426D2B508>
[Adela..., Agour..., Alameda, Albany, ..., Yreka, YubaC..., Yucaipa, Yucca...]
  latd: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x0000026426A94F08 / R:0x0000026426D72608>
[34.576111, 34.153333, 37.756111, 37.886944, ..., 41.726667, 39.134722, 34.030278, 34.133333]
  longd: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x0000026426A94948 / R:0x0000026426D73550>
[-117.432778, -118.761667, -122.274444, -122.297778, ..., -122.637500, -121.626111, -117.048611, -116.416667]
...
  elevation_ft: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x0000026426A90188 / R:0x0000026426D798C0>
[145.107000, 20.260000, 59.465000, 14.155000, ..., 26.036000, 37.959000, 72.244000, 103.639000]
  population_total: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x0000026426A90988 / R:0x0000026426D7A808>
[145.062000, 20.184000, 27.482000, 4.632000, ..., 25.847000, 37.758000, 72.231000, 103.639000]
  area_total_sq_mi: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x0000026426A80648 / R:0x0000026426D7B750>
[0.046000, 0.076000, 31.983000, 9.524000, ..., 0.188000, 0.201000, 0.013000, 0.000000]
  area_land_sq_mi: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x0000026426A80F08 / R:0x0000026426D7C698>
[0.030000, 0.370000, 53.790000, 67.280000, ..., 0.720000, 0.530000, 0.020000, 0.000000]

In [33]:
stats = importr('stats')
base = importr('base')
clf = stats.lm('elevation_m ~ latd + longd', data=dataf)
clf[0]

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x000002641FB3FB08 / R:0x0000026424508BA0>
[16206.308711, 172.508685, 185.732637]

In [38]:
import rpy2.robjects.lib.ggplot2 as gp
from rpy2.ipython.ggplot import image_png
from rpy2.robjects.vectors import IntVector
from rpy2.robjects import rl

p = (gp.ggplot(dataf) +
     gp.aes(x=r1('longd'),
            y=r1('latd'),
            color=r1('population_total'),
            size=r1('area_total_km2')) +
     gp.geom_point(alpha=0.5) +
     # Axis definitions.
     gp.scale_x_continuous('Longitude') +
     gp.scale_y_continuous('Latitude') +
     # Custom size range.
     gp.scale_size(range=IntVector([1, 18])) +
     # Transform for pop -> color mapping
     gp.scale_color_continuous(trans='log10') +
     # Title.
     gp.ggtitle('California Cities: Area and Population') +
     # Plot theme and text size.
     gp.theme_light(base_size=16))
image_png(p)

ImportError: cannot import name 'rl' from 'rpy2.robjects' (C:\ProgramData\Anaconda3\lib\site-packages\rpy2\robjects\__init__.py)

Run script

In [ ]:
r = robjects.r

In [ ]:
r['source']('preprocess.R')# Loading the function we have defined in R.
filter_country_function_r = robjects.globalenv['filter_country']# Reading and processing data
df = pd.read_csv("Country-Sales.csv")#converting it into r object for passing into r function
df_r = pandas2ri.ri2py(df)
#Invoking the R function and getting the result
df_result_r = filter_country_function_r(df_r, 'USA')
#Converting it back to a pandas dataframe.
df_result = pandas2ri.py2ri(df_result_r)